# App
NEXT_PUBLIC_APP_URL=http://app.fibraos.local:3000
NEXT_PUBLIC_ROOT_DOMAIN=fibraos.local
NEXT_PUBLIC_MAP_STYLE_URL=https://api.maptiler.com/maps/streets-v2/style.json?key=REPLACE_ME

# Database (pgbouncer session pool en prod)
DATABASE_URL=postgres://fibraos:fibraos_dev_pw@localhost:5432/fibraos?sslmode=disable
DIRECT_URL=postgres://fibraos:fibraos_dev_pw@localhost:5432/fibraos?sslmode=disable
POSTGRES_PASSWORD=fibraos_dev_pw
POSTGRES_USER=fibraos
POSTGRES_DB=fibraos

# Redis
REDIS_URL=redis://localhost:6379

# Storage (MinIO en dev)
S3_ENDPOINT=http://localhost:9000
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET=fibraos-files-dev
S3_REGION=auto
S3_PUBLIC_URL=http://localhost:9000/fibraos-files-dev

# Auth
AUTH_SECRET=change-me-to-a-32-byte-random-hex-string-openssl-rand
AUTH_EMAIL_FROM=no-reply@fibraos.local

# Tenant cache
TENANT_RESOLVER_CACHE=redis

# Domain provider
DOMAIN_PROVIDER=caddy_on_demand
CADDY_ADMIN_URL=http://localhost:2019
CLOUDFLARE_DNS_API_TOKEN=

# Stripe (dummy en dev)
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_STARTER=
STRIPE_PRICE_PRO=
STRIPE_PRICE_BUSINESS=

# Email (Mailpit en dev)
RESEND_API_KEY=
SMTP_HOST=localhost
SMTP_PORT=1025

# Geocoder
GEOCODER_PROVIDER=nominatim
GEOCODER_API_KEY=
NOMINATIM_ENDPOINT=https://nominatim.openstreetmap.org

# Map tiles
MAPTILER_API_KEY=

# Observability (opcional en dev)
SENTRY_DSN=
SENTRY_AUTH_TOKEN=
NEXT_PUBLIC_SENTRY_DSN=

# Super admin
SUPER_ADMIN_EMAILS=admin@demo.test

# Internal
INTERNAL_API_SECRET=change-me

# Workers
WORKER_MODE=false
