node_modules
.next
.turbo
dist
out
coverage
playwright-report
test-results
.env
.env.local
.env.production
.env.*.local
*.log
.DS_Store
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
lib/db/migrations/meta
public/sw.js
public/workbox-*.js
